/* Code */

body{
    margin: 0;
    padding: 0;
}

.container_article{
    display: flex;
    flex-wrap: nowrap;
}

#image{
    width: 20%;
    height: 20%;
}

.article{
    display: flex;
}

.infos{
    display: flex;
    flex-direction: column;
}

.infos p{
    margin: 0;
    padding: 0;
}

form button{
    width: 100%;
    background-color: #fff;
    border: none;
}