/* Code */

body{
    margin: 0;
    padding: 0;
}

.container_article{
    width: 100%;
}

table,
td,
th {
    border-collapse: collapse;
    padding: 1em;
    border: 1px solid red;
}

table{
    width: 100%;
}
