.container{
    width: 60%;
    display: flex;
    align-items: center;
    border: 2px solid black;
    flex-direction: column;
    padding: 2em;
    margin: 2em;
}

form{
    text-align: center;
    width: 100%;
    display: flex;
    justify-content: center;
}

section{
    text-align: center;
}