/* Code header */

nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    font-family: 'Abyssinica SIL', serif;
    position: fixed;
    z-index: 1000;
    position: sticky;
    top: 0;
}

nav .logo{
    display: flex;
    align-items: center;
    justify-content: space-between;    
}

nav .titre{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}

nav .sous-titre{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    font-size: 15px;
}

nav .recherche{
    background-color: orangered;
    color: white;
}

nav .log{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-right: 5em;
}

.button {
  display: inline-block;
  padding: 5px 15px;
  font-size: 14px;
  cursor: pointer;
  text-align: center;   
  text-decoration: none;
  outline: none;
  color: #fff;
  background-color: orangered;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px lightgrey;
}

.button:hover {background-color: red}

.button:active {
  background-color: red;
  box-shadow: 0 5px grey;
  transform: translateY(4px);
}

/* Code footer */

footer{
    background-color: orangered;
    color: white;
    width: 100%;
    bottom: 0;
}

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}   